|* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}


.a {
  outline: 1px solid black;
}

.container {
display: flex;
justify-items: center;
flex-direction: column;
height: 100vh;
}


